<% include partials/header %>

    <div class="container">
        <h2>Submit Reading</h2>

        <form action="/reading" method="post">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="exampleFormControlSelect1">Select Tenent</label>
                    <select class="form-control" id="name" name="name">
                     <% tenents.forEach(function(ten){ %>
                      <option><%= ten.name %></option>
                     <%}) %>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="amount">Reading</label>
                    <input type="number" class="form-control" id="read" name="read" placeholder="Reading">
                </div>
                <div class="form-group col-md-6">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" id="date" name="date">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <% include partials/footer %>
